# Data (never commit raw data)
**/data/raw/
**/data/*.csv
**/data/*.parquet
**/*.pkl

# Secrets
.env
**/.env

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Conda
*.egg-info/

# OS
.DS_Store
Thumbs.db